@font-face {
  font-family: "LabGrotesque";
  src: local("LabGrotesque"),
    url("~@/assets/fonts/LabGrotesque-Regular.woff") format("woff"),
    url("~@/assets/fonts/LabGrotesque-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LabGrotesque";
  src: local("LabGrotesque"),
    url("~@/assets/fonts/LabGrotesque-Medium.woff") format("woff"),
    url("~@/assets/fonts/LabGrotesque-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
